.sui-Avatar {
  border: 1px solid transparent;
}

.sui-AvatarImg {
  border: 1px solid var(--white);
  object-fit: cover;
}

.sui-Avatar .sui-Eyebrow {
  color: var(--white);
  font-size: inherit;
}

.sui-Avatar.sui-avatar-gray {
  background-color: var(--gray-500);
}

.sui-Avatar.sui-avatar-blue {
  background-color: var(--blue-500);
}

.sui-Avatar.sui-avatar-purple {
  background-color: var(--purple-500);
}

.sui-Avatar.sui-avatar-magenta {
  background-color: var(--magenta-500);
}

.sui-Avatar.sui-avatar-red {
  background-color: var(--red-500);
}

.sui-Avatar.sui-avatar-orange {
  background-color: var(--orange-500);
}

.sui-Avatar.sui-avatar-yellow {
  background-color: var(--yellow-500);
}

.sui-Avatar.sui-avatar-green {
  background-color: var(--green-500);
}

.sui-Avatar.sui-avatar-cyan {
  background-color: var(--cyan-500);
}

.sui-Avatar[class*="sui-arrow"]:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: inherit;
  border-radius: 2px;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%) rotate(45deg) skew(6deg, 6deg);
}

.sui-Avatar.sui-arrow-top:after {
  top: -3px;
}

.sui-Avatar.sui-arrow-bottom:after {
  bottom: -3px;
}
