# Patterns
*.local
*.local.*
*.log
*.njsproj
*.ntvs*
*.pem
*.sln
*.suo
*.sw?
*.tgz
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Exact matches
.DS_Store
.composer
.eslintcache
.idea
.next
.nyc_output
.sanity
.turbo
.vercel
.vscode
!.vscode/extensions.json
.workshop
coverage
dist
logs
node_modules
playwright-report
playwright/.cache
storybook-static
test-results
tmp
performance-report.md
