; This is needed for prettier to be able to use the plugin specified by the `@sanity/prettier-config` preset, as well as eslint plugins defined by `@repo/eslint-config`
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
; Needed to get correct rollup types
public-hoist-pattern[]=*rollup*

prefer-workspace-packages = true
strict-peer-dependencies = false
link-workspace-packages = deep
# https://github.com/cypress-io/github-action/blob/43c624e40c65c7c3a255a901d0a0a0a2040b7140/examples/basic-pnpm/.npmrc#L2C1-L2C25
side-effects-cache=false
