NEXT_PUBLIC_SANITY_PROJECT_ID="mos42crl"
NEXT_PUBLIC_SANITY_DATASET="production"
NEXT_PUBLIC_SANITY_API_VERSION="2026-07-01"
SANITY_STUDIO_ORIGIN="https://ui-docs.sanity.build"
# Create a token with "Viewer" permissions
# SANITY_API_READ_TOKEN=""
# Only used when VERCEL_ENV is "production"
# EXPIRE_TAGS_SECRET=""
