
.sui-SwitchMark[class*='sui-tone'] {
  background-color: var(--tone-0);
  border: 1px solid var(--separator-high);
}

.sui-SwitchMark:after {
  content: '';
  background: var(--tone-1000);
  width: 7px;
  height: 7px;
  border-radius: var(--radius-round);
  position: absolute;
  top: 4px;
  left: 4px;
  display: block;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px;
}

.sui-SwitchInput:focus-visible + .sui-SwitchMark {
  outline: 1px solid var(--blue-500);
  outline-offset: 1px;
}

.sui-SwitchInput:checked + .sui-SwitchMark {
  background: var(--tone-1000);
  border-color: transparent;
}

.sui-SwitchInput:checked + .sui-SwitchMark:after {
  background: var(--tone-0);
}

.sui-SwitchInput:checked + .sui-SwitchMark:after {
  left: auto;
  right: 4px;
}

.sui-SwitchInput:indeterminate + .sui-SwitchMark:after {
  left: 50%;
  right: auto;
  transform: translateX(-50%);
}

.sui-SwitchInput:disabled + .sui-SwitchMark:after {
  background: light-dark(var(--gray-50), var(--gray-700));
}
