.sui-Icon {
  --icon-color: var(--foreground-high);
  color: var(--icon-color);
}

.sui-Icon:where(.sui-text-muted) {
  --icon-color-muted: var(--foreground-low);
  color: var(--icon-color-muted);
}

@breakpoints {
  .sui-icon-body0 { font-size: 17px; }
  .sui-icon-body1 { font-size: 21px; }
  .sui-icon-body2 { font-size: 25px; }
  .sui-icon-body3 { font-size: 29px; }
  .sui-icon-body4 { font-size: 33px; }
}
