/** -----------------------------------
  * BOX - defaults
  * ---------------------------------*/
.sui-Box {
  /* Box has no tone by default, therefore we set --tone-surface as transparent */
  --tone-surface: transparent;
  background-color: var(--tone-surface);
}

/** -----------------------------------
  * BOX - tone
  * Tone classes set tone custom properties for surface and separator colors;
  * background color is applied by the component class, while border width/style/color
  * is applied via the optional border props/classes.
  * ---------------------------------*/
.sui-Box:where(.sui-tone-none) {
  --tone-surface: var(--tone-none-surface);
  --tone-separator: var(--tone-none-separator);
}

.sui-Box:where(.sui-tone-neutral) {
  --tone-surface: var(--tone-neutral-surface);
  --tone-separator: var(--tone-neutral-separator);
}

.sui-Box:where(.sui-tone-primary) {
  --tone-surface: var(--tone-primary-surface);
  --tone-separator: var(--tone-primary-separator);
}

.sui-Box:where(.sui-tone-positive) {
  --tone-surface: var(--tone-positive-surface);
  --tone-separator: var(--tone-positive-separator);
}

.sui-Box:where(.sui-tone-suggest) {
  --tone-surface: var(--tone-suggest-surface);
  --tone-separator: var(--tone-suggest-separator);
}

.sui-Box:where(.sui-tone-caution) {
  --tone-surface: var(--tone-caution-surface);
  --tone-separator: var(--tone-caution-separator);
}

.sui-Box:where(.sui-tone-critical) {
  --tone-surface: var(--tone-critical-surface);
  --tone-separator: var(--tone-critical-separator);
}
