[interestfor] {
  --tooltip-delay: var(--tooltip-delay-group, 500ms);
  /* The interestfor polyfill looks for intereset delay variables */
  --interest-delay-start: var(--tooltip-delay);
  --interest-delay-end: 0ms;
  interest-delay-start: var(--tooltip-delay);
  interest-delay-end: 0ms;
}

.sui-Tooltip {
  background: var(--backdrop);
  visibility: hidden;
  opacity: 0;
  scale: 0.9;
  transition: none;
}

.sui-Tooltip:popover-open {
  visibility: visible;
  opacity: 1;
  scale: 1;
  transition: var(--fade-in-transition);
}

@starting-style {
  .sui-Tooltip:popover-open {
    visibility: hidden;
    opacity: 0;
    scale: 0.9;
  }
}
