.sui-TooltipContent {
  --tooltip-delay: var(--tooltip-delay-group, 500ms);
  background: var(--backdrop);
  visibility: hidden;
  opacity: 0;
  scale: 0.9;
  transition: none;
}

.sui-TooltipContent:popover-open {
  visibility: visible;
  opacity: 1;
  scale: 1;
  transition: var(--fade-in-transition);
  transition-delay:
    var(--tooltip-delay), var(--tooltip-delay),
    var(--tooltip-delay);
}

@starting-style {
  .sui-TooltipContent:popover-open {
    visibility: hidden;
    opacity: 0;
    scale: 0.9;
  }
}
