.sui-TooltipContent {
  --tooltip-delay-open: var(--tooltip-delay-group, 500ms);
  --tooltip-delay-close: var(--tooltip-delay-group, 100ms);

  background: var(--backdrop);
  visibility: hidden;
  opacity: 0;
  scale: 0.9;
  transition: var(--fade-out-transition);
  transition-delay:
    var(--tooltip-delay-close), var(--tooltip-delay-close),
    calc(var(--tooltip-delay-close) + 200ms);
}

[aria-describedby]:is(:hover, :focus-visible)
  + [role="tooltip"]:not(.sui-tooltip-dismissed) {
  visibility: visible;
  opacity: 1;
  scale: 1;
  transition: var(--fade-in-transition);
  transition-delay:
    var(--tooltip-delay-open), var(--tooltip-delay-open),
    var(--tooltip-delay-open);
}

[aria-describedby]:is(:hover, :focus-visible)
  + .sui-tooltip-dismissed[role="tooltip"] {
  transition: none;
}
