/* black */
.sui-black { color: var(--black); }
.sui-bg-black { background-color: var(--black); }

/* white */
.sui-white { color: var(--white); }
.sui-bg-white { background-color: var(--white); }

/* blue */
.sui-blue-50 { color: var(--blue-50); }
.sui-blue-100 { color: var(--blue-100); }
.sui-blue-200 { color: var(--blue-200); }
.sui-blue-300 { color: var(--blue-300); }
.sui-blue-400 { color: var(--blue-400); }
.sui-blue-500 { color: var(--blue-500); }
.sui-blue-600 { color: var(--blue-600); }
.sui-blue-700 { color: var(--blue-700); }
.sui-blue-800 { color: var(--blue-800); }
.sui-blue-900 { color: var(--blue-900); }
.sui-blue-950 { color: var(--blue-950); }
.sui-bg-blue-50 { background-color: var(--blue-50); }
.sui-bg-blue-100 { background-color: var(--blue-100); }
.sui-bg-blue-200 { background-color: var(--blue-200); }
.sui-bg-blue-300 { background-color: var(--blue-300); }
.sui-bg-blue-400 { background-color: var(--blue-400); }
.sui-bg-blue-500 { background-color: var(--blue-500); }
.sui-bg-blue-600 { background-color: var(--blue-600); }
.sui-bg-blue-700 { background-color: var(--blue-700); }
.sui-bg-blue-800 { background-color: var(--blue-800); }
.sui-bg-blue-900 { background-color: var(--blue-900); }
.sui-bg-blue-950 { background-color: var(--blue-950); }

/* cyan */
.sui-cyan-50 { color: var(--cyan-50); }
.sui-cyan-100 { color: var(--cyan-100); }
.sui-cyan-200 { color: var(--cyan-200); }
.sui-cyan-300 { color: var(--cyan-300); }
.sui-cyan-400 { color: var(--cyan-400); }
.sui-cyan-500 { color: var(--cyan-500); }
.sui-cyan-600 { color: var(--cyan-600); }
.sui-cyan-700 { color: var(--cyan-700); }
.sui-cyan-800 { color: var(--cyan-800); }
.sui-cyan-900 { color: var(--cyan-900); }
.sui-cyan-950 { color: var(--cyan-950); }
.sui-bg-cyan-50 { background-color: var(--cyan-50); }
.sui-bg-cyan-100 { background-color: var(--cyan-100); }
.sui-bg-cyan-200 { background-color: var(--cyan-200); }
.sui-bg-cyan-300 { background-color: var(--cyan-300); }
.sui-bg-cyan-400 { background-color: var(--cyan-400); }
.sui-bg-cyan-500 { background-color: var(--cyan-500); }
.sui-bg-cyan-600 { background-color: var(--cyan-600); }
.sui-bg-cyan-700 { background-color: var(--cyan-700); }
.sui-bg-cyan-800 { background-color: var(--cyan-800); }
.sui-bg-cyan-900 { background-color: var(--cyan-900); }
.sui-bg-cyan-950 { background-color: var(--cyan-950); }

/* gray */
.sui-gray-50 { color: var(--gray-50); }
.sui-gray-100 { color: var(--gray-100); }
.sui-gray-200 { color: var(--gray-200); }
.sui-gray-300 { color: var(--gray-300); }
.sui-gray-400 { color: var(--gray-400); }
.sui-gray-500 { color: var(--gray-500); }
.sui-gray-600 { color: var(--gray-600); }
.sui-gray-700 { color: var(--gray-700); }
.sui-gray-800 { color: var(--gray-800); }
.sui-gray-900 { color: var(--gray-900); }
.sui-gray-950 { color: var(--gray-950); }
.sui-bg-gray-50 { background-color: var(--gray-50); }
.sui-bg-gray-100 { background-color: var(--gray-100); }
.sui-bg-gray-200 { background-color: var(--gray-200); }
.sui-bg-gray-300 { background-color: var(--gray-300); }
.sui-bg-gray-400 { background-color: var(--gray-400); }
.sui-bg-gray-500 { background-color: var(--gray-500); }
.sui-bg-gray-600 { background-color: var(--gray-600); }
.sui-bg-gray-700 { background-color: var(--gray-700); }
.sui-bg-gray-800 { background-color: var(--gray-800); }
.sui-bg-gray-900 { background-color: var(--gray-900); }
.sui-bg-gray-950 { background-color: var(--gray-950); }

/* green */
.sui-green-50 { color: var(--green-50); }
.sui-green-100 { color: var(--green-100); }
.sui-green-200 { color: var(--green-200); }
.sui-green-300 { color: var(--green-300); }
.sui-green-400 { color: var(--green-400); }
.sui-green-500 { color: var(--green-500); }
.sui-green-600 { color: var(--green-600); }
.sui-green-700 { color: var(--green-700); }
.sui-green-800 { color: var(--green-800); }
.sui-green-900 { color: var(--green-900); }
.sui-green-950 { color: var(--green-950); }
.sui-bg-green-50 { background-color: var(--green-50); }
.sui-bg-green-100 { background-color: var(--green-100); }
.sui-bg-green-200 { background-color: var(--green-200); }
.sui-bg-green-300 { background-color: var(--green-300); }
.sui-bg-green-400 { background-color: var(--green-400); }
.sui-bg-green-500 { background-color: var(--green-500); }
.sui-bg-green-600 { background-color: var(--green-600); }
.sui-bg-green-700 { background-color: var(--green-700); }
.sui-bg-green-800 { background-color: var(--green-800); }
.sui-bg-green-900 { background-color: var(--green-900); }
.sui-bg-green-950 { background-color: var(--green-950); }

/* magenta */
.sui-magenta-50 { color: var(--magenta-50); }
.sui-magenta-100 { color: var(--magenta-100); }
.sui-magenta-200 { color: var(--magenta-200); }
.sui-magenta-300 { color: var(--magenta-300); }
.sui-magenta-400 { color: var(--magenta-400); }
.sui-magenta-500 { color: var(--magenta-500); }
.sui-magenta-600 { color: var(--magenta-600); }
.sui-magenta-700 { color: var(--magenta-700); }
.sui-magenta-800 { color: var(--magenta-800); }
.sui-magenta-900 { color: var(--magenta-900); }
.sui-magenta-950 { color: var(--magenta-950); }
.sui-bg-magenta-50 { background-color: var(--magenta-50); }
.sui-bg-magenta-100 { background-color: var(--magenta-100); }
.sui-bg-magenta-200 { background-color: var(--magenta-200); }
.sui-bg-magenta-300 { background-color: var(--magenta-300); }
.sui-bg-magenta-400 { background-color: var(--magenta-400); }
.sui-bg-magenta-500 { background-color: var(--magenta-500); }
.sui-bg-magenta-600 { background-color: var(--magenta-600); }
.sui-bg-magenta-700 { background-color: var(--magenta-700); }
.sui-bg-magenta-800 { background-color: var(--magenta-800); }
.sui-bg-magenta-900 { background-color: var(--magenta-900); }
.sui-bg-magenta-950 { background-color: var(--magenta-950); }

/* orange */
.sui-orange-50 { color: var(--orange-50); }
.sui-orange-100 { color: var(--orange-100); }
.sui-orange-200 { color: var(--orange-200); }
.sui-orange-300 { color: var(--orange-300); }
.sui-orange-400 { color: var(--orange-400); }
.sui-orange-500 { color: var(--orange-500); }
.sui-orange-600 { color: var(--orange-600); }
.sui-orange-700 { color: var(--orange-700); }
.sui-orange-800 { color: var(--orange-800); }
.sui-orange-900 { color: var(--orange-900); }
.sui-orange-950 { color: var(--orange-950); }
.sui-bg-orange-50 { background-color: var(--orange-50); }
.sui-bg-orange-100 { background-color: var(--orange-100); }
.sui-bg-orange-200 { background-color: var(--orange-200); }
.sui-bg-orange-300 { background-color: var(--orange-300); }
.sui-bg-orange-400 { background-color: var(--orange-400); }
.sui-bg-orange-500 { background-color: var(--orange-500); }
.sui-bg-orange-600 { background-color: var(--orange-600); }
.sui-bg-orange-700 { background-color: var(--orange-700); }
.sui-bg-orange-800 { background-color: var(--orange-800); }
.sui-bg-orange-900 { background-color: var(--orange-900); }
.sui-bg-orange-950 { background-color: var(--orange-950); }

/* purple */
.sui-purple-50 { color: var(--purple-50); }
.sui-purple-100 { color: var(--purple-100); }
.sui-purple-200 { color: var(--purple-200); }
.sui-purple-300 { color: var(--purple-300); }
.sui-purple-400 { color: var(--purple-400); }
.sui-purple-500 { color: var(--purple-500); }
.sui-purple-600 { color: var(--purple-600); }
.sui-purple-700 { color: var(--purple-700); }
.sui-purple-800 { color: var(--purple-800); }
.sui-purple-900 { color: var(--purple-900); }
.sui-purple-950 { color: var(--purple-950); }
.sui-bg-purple-50 { background-color: var(--purple-50); }
.sui-bg-purple-100 { background-color: var(--purple-100); }
.sui-bg-purple-200 { background-color: var(--purple-200); }
.sui-bg-purple-300 { background-color: var(--purple-300); }
.sui-bg-purple-400 { background-color: var(--purple-400); }
.sui-bg-purple-500 { background-color: var(--purple-500); }
.sui-bg-purple-600 { background-color: var(--purple-600); }
.sui-bg-purple-700 { background-color: var(--purple-700); }
.sui-bg-purple-800 { background-color: var(--purple-800); }
.sui-bg-purple-900 { background-color: var(--purple-900); }
.sui-bg-purple-950 { background-color: var(--purple-950); }

/* red */
.sui-red-50 { color: var(--red-50); }
.sui-red-100 { color: var(--red-100); }
.sui-red-200 { color: var(--red-200); }
.sui-red-300 { color: var(--red-300); }
.sui-red-400 { color: var(--red-400); }
.sui-red-500 { color: var(--red-500); }
.sui-red-600 { color: var(--red-600); }
.sui-red-700 { color: var(--red-700); }
.sui-red-800 { color: var(--red-800); }
.sui-red-900 { color: var(--red-900); }
.sui-red-950 { color: var(--red-950); }
.sui-bg-red-50 { background-color: var(--red-50); }
.sui-bg-red-100 { background-color: var(--red-100); }
.sui-bg-red-200 { background-color: var(--red-200); }
.sui-bg-red-300 { background-color: var(--red-300); }
.sui-bg-red-400 { background-color: var(--red-400); }
.sui-bg-red-500 { background-color: var(--red-500); }
.sui-bg-red-600 { background-color: var(--red-600); }
.sui-bg-red-700 { background-color: var(--red-700); }
.sui-bg-red-800 { background-color: var(--red-800); }
.sui-bg-red-900 { background-color: var(--red-900); }
.sui-bg-red-950 { background-color: var(--red-950); }

/* yellow */
.sui-yellow-50 { color: var(--yellow-50); }
.sui-yellow-100 { color: var(--yellow-100); }
.sui-yellow-200 { color: var(--yellow-200); }
.sui-yellow-300 { color: var(--yellow-300); }
.sui-yellow-400 { color: var(--yellow-400); }
.sui-yellow-500 { color: var(--yellow-500); }
.sui-yellow-600 { color: var(--yellow-600); }
.sui-yellow-700 { color: var(--yellow-700); }
.sui-yellow-800 { color: var(--yellow-800); }
.sui-yellow-900 { color: var(--yellow-900); }
.sui-yellow-950 { color: var(--yellow-950); }
.sui-bg-yellow-50 { background-color: var(--yellow-50); }
.sui-bg-yellow-100 { background-color: var(--yellow-100); }
.sui-bg-yellow-200 { background-color: var(--yellow-200); }
.sui-bg-yellow-300 { background-color: var(--yellow-300); }
.sui-bg-yellow-400 { background-color: var(--yellow-400); }
.sui-bg-yellow-500 { background-color: var(--yellow-500); }
.sui-bg-yellow-600 { background-color: var(--yellow-600); }
.sui-bg-yellow-700 { background-color: var(--yellow-700); }
.sui-bg-yellow-800 { background-color: var(--yellow-800); }
.sui-bg-yellow-900 { background-color: var(--yellow-900); }
.sui-bg-yellow-950 { background-color: var(--yellow-950); }
