.sui-weight-bold { font-weight: var(--bold); }
.sui-weight-medium { font-weight: var(--medium); }
.sui-weight-regular { font-weight: var(--regular); }
.sui-weight-semibold { font-weight: var(--semibold); }
