/* margin: 0 */
.sui-m0 { margin: var(--space-0); }
.sui-mx0 { margin-left: var(--space-0); margin-right: var(--space-0); }
.sui-my0 { margin-top: var(--space-0); margin-bottom: var(--space-0); }
.sui-ml0 { margin-left: var(--space-0); }
.sui-mr0 { margin-right: var(--space-0); }
.sui-mt0 { margin-top: var(--space-0); }
.sui-mb0 { margin-bottom: var(--space-0); }

/* margin: 1 */
.sui-m1 { margin: var(--space-1); }
.sui-mx1 { margin-left: var(--space-1); margin-right: var(--space-1); }
.sui-my1 { margin-top: var(--space-1); margin-bottom: var(--space-1); }
.sui-ml1 { margin-left: var(--space-1); }
.sui-mr1 { margin-right: var(--space-1); }
.sui-mt1 { margin-top: var(--space-1); }
.sui-mb1 { margin-bottom: var(--space-1); }

/* margin: 2 */
.sui-m2 { margin: var(--space-2); }
.sui-mx2 { margin-left: var(--space-2); margin-right: var(--space-2); }
.sui-my2 { margin-top: var(--space-2); margin-bottom: var(--space-2); }
.sui-ml2 { margin-left: var(--space-2); }
.sui-mr2 { margin-right: var(--space-2); }
.sui-mt2 { margin-top: var(--space-2); }
.sui-mb2 { margin-bottom: var(--space-2); }

/* margin: 3 */
.sui-m3 { margin: var(--space-3); }
.sui-mx3 { margin-left: var(--space-3); margin-right: var(--space-3); }
.sui-my3 { margin-top: var(--space-3); margin-bottom: var(--space-3); }
.sui-ml3 { margin-left: var(--space-3); }
.sui-mr3 { margin-right: var(--space-3); }
.sui-mt3 { margin-top: var(--space-3); }
.sui-mb3 { margin-bottom: var(--space-3); }

/* margin: 4 */
.sui-m4 { margin: var(--space-4); }
.sui-mx4 { margin-left: var(--space-4); margin-right: var(--space-4); }
.sui-my4 { margin-top: var(--space-4); margin-bottom: var(--space-4); }
.sui-ml4 { margin-left: var(--space-4); }
.sui-mr4 { margin-right: var(--space-4); }
.sui-mt4 { margin-top: var(--space-4); }
.sui-mb4 { margin-bottom: var(--space-4); }

/* margin: 5 */
.sui-m5 { margin: var(--space-5); }
.sui-mx5 { margin-left: var(--space-5); margin-right: var(--space-5); }
.sui-my5 { margin-top: var(--space-5); margin-bottom: var(--space-5); }
.sui-ml5 { margin-left: var(--space-5); }
.sui-mr5 { margin-right: var(--space-5); }
.sui-mt5 { margin-top: var(--space-5); }
.sui-mb5 { margin-bottom: var(--space-5); }

/* margin: 6 */
.sui-m6 { margin: var(--space-6); }
.sui-mx6 { margin-left: var(--space-6); margin-right: var(--space-6); }
.sui-my6 { margin-top: var(--space-6); margin-bottom: var(--space-6); }
.sui-ml6 { margin-left: var(--space-6); }
.sui-mr6 { margin-right: var(--space-6); }
.sui-mt6 { margin-top: var(--space-6); }
.sui-mb6 { margin-bottom: var(--space-6); }

/* margin: 7 */
.sui-m7 { margin: var(--space-7); }
.sui-mx7 { margin-left: var(--space-7); margin-right: var(--space-7); }
.sui-my7 { margin-top: var(--space-7); margin-bottom: var(--space-7); }
.sui-ml7 { margin-left: var(--space-7); }
.sui-mr7 { margin-right: var(--space-7); }
.sui-mt7 { margin-top: var(--space-7); }
.sui-mb7 { margin-bottom: var(--space-7); }

/* margin: 8 */
.sui-m8 { margin: var(--space-8); }
.sui-mx8 { margin-left: var(--space-8); margin-right: var(--space-8); }
.sui-my8 { margin-top: var(--space-8); margin-bottom: var(--space-8); }
.sui-ml8 { margin-left: var(--space-8); }
.sui-mr8 { margin-right: var(--space-8); }
.sui-mt8 { margin-top: var(--space-8); }
.sui-mb8 { margin-bottom: var(--space-8); }

/* margin: 9 */
.sui-m9 { margin: var(--space-9); }
.sui-mx9 { margin-left: var(--space-9); margin-right: var(--space-9); }
.sui-my9 { margin-top: var(--space-9); margin-bottom: var(--space-9); }
.sui-ml9 { margin-left: var(--space-9); }
.sui-mr9 { margin-right: var(--space-9); }
.sui-mt9 { margin-top: var(--space-9); }
.sui-mb9 { margin-bottom: var(--space-9); }

/* margin: auto */
.sui-m-auto { margin: auto; }
.sui-mx-auto { margin-left: auto; margin-right: auto; }
.sui-my-auto { margin-top: auto; margin-bottom: auto; }
.sui-mt-auto { margin-top: auto; }
.sui-mb-auto { margin-bottom: auto; }
.sui-mr-auto { margin-right: auto; }
.sui-ml-auto { margin-left: auto; }
