.sui-shadow0 { box-shadow: var(--shadow0); }
.sui-shadow1 { box-shadow: var(--shadow1); }
.sui-shadow2 { box-shadow: var(--shadow2); }
.sui-shadow3 { box-shadow: var(--shadow3); }
.sui-shadow4 { box-shadow: var(--shadow4); }
.sui-shadow5 { box-shadow: var(--shadow5); }
