.sui-PressArea {
  background: none;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  appearance: none;
}

.sui-PressArea:focus-visible {
  outline: var(--focus-outline);
  outline-offset: var(--focus-offset);
}

.sui-PressArea:disabled {
  pointer-events: none;
}

.sui-PressArea .sui-Text,
.sui-PressArea [data-sanity-icon] {
  color: inherit;
}
