@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url('https://design-system-static.sanity.io/InterVariable-latin-20260728.woff2') format('woff2-variations');
  src: url('https://design-system-static.sanity.io/InterVariable-latin-20260728.woff2') format('woff2')
    tech('variations');
}

@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 400 700;
  font-display: swap;
  src: url('https://design-system-static.sanity.io/InterVariable-Italic-latin-20260728.woff2')
    format('woff2-variations');
  src: url('https://design-system-static.sanity.io/InterVariable-Italic-latin-20260728.woff2') format('woff2')
    tech('variations');
}
