/* Default to border-box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Zero out default margins, padding, and borders */
* {
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
}

:root {
  color-scheme: light dark;
}

/* Prevent adjustments of font size after orientation changes in iOS. */
:where(html) {
  -webkit-text-size-adjust: 100%;
}

:where(body) {
  background: light-dark(var(--white), var(--black));
  font-family: var(--sans);
  -webkit-font-smoothing: antialiased;
}

/* Display multimedia as block by default */
:where(
  audio,
  canvas,
  embed,
  iframe,
  img,
  object,
  picture,
  video
){
  display: block;
  max-width: 100%;
}
:where(img, picture, video) {
  block-size: auto;
}

/* Inherit typography in form controls */
:where(
  button,
  input,
  select,
  textarea
) {
  font: inherit;
  line-height: inherit;
  color: inherit;
}

/* Remove excess space for table borders */
:where(table) {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Enforce no animations for users that prefer reduced motion*/
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
