@breakpoints {
  .sui-align-items-flex-start { align-items: flex-start; }
  .sui-align-items-center { align-items: center; }
  .sui-align-items-flex-end { align-items: flex-end; }
  .sui-align-items-baseline { align-items: baseline; }
  .sui-align-items-stretch { align-items: stretch; }

  .sui-justify-content-flex-start { justify-content: flex-start; }
  .sui-justify-content-center { justify-content: center; }
  .sui-justify-content-flex-end { justify-content: flex-end; }
  .sui-justify-content-space-between { justify-content: space-between; }
  .sui-justify-content-space-around { justify-content: space-around; }
  .sui-justify-content-space-evenly { justify-content: space-evenly; }
  .sui-justify-content-stretch { justify-content: stretch; }

  .sui-flex-direction-row { flex-direction: row; }
  .sui-flex-direction-row-reverse { flex-direction: row-reverse; }
  .sui-flex-direction-column { flex-direction: column; }
  .sui-flex-direction-column-reverse { flex-direction: column-reverse; }

  .sui-flex-wrap { flex-wrap: wrap; }
  .sui-flex-nowrap { flex-wrap: nowrap; }
  .sui-flex-wrap-reverse { flex-wrap: wrap-reverse; }
}
