.sui-tone-default {
  background: var(--white);
  border-color: var(--blue-100);
}

.sui-tone-neutral {
  background: var(--gray-50);
  border-color: var(--gray-100);
}

.sui-tone-primary {
  background: var(--blue-50);
  border-color: var(--blue-100);
}

.sui-tone-suggest {
  background: var(--purple-50);
  border-color: var(--purple-100);
}

.sui-tone-positive {
  background: var(--green-50);
  border-color: var(--green-100);
}

.sui-tone-caution {
  background: var(--yellow-50);
  border-color: var(--yellow-100);
}

.sui-tone-critical {
  background: var(--red-50);
  border-color: var(--red-100);
}