@breakpoints {
  .sui-display-block { display: block; }
  .sui-display-inline-block { display: inline-block; }
  .sui-display-inline { display: inline; }
  .sui-display-flex { display: flex; }
  .sui-display-inline-flex { display: inline-flex; }
  .sui-display-grid { display: grid; }
  .sui-display-inline-grid { display: inline-grid; }
  .sui-display-none { display: none; }
}
