@breakpoints {
  .sui-overflow-visible { overflow: visible; }
  .sui-overflow-scroll { overflow: scroll; }
  .sui-overflow-clip { overflow: clip; }
  .sui-overflow-hidden { overflow: hidden; }
  .sui-overflow-auto { overflow: auto; }

  .sui-overflow-x-visible { overflow-x: visible; }
  .sui-overflow-x-scroll { overflow-x: scroll; }
  .sui-overflow-x-clip { overflow-x: clip; }
  .sui-overflow-x-hidden { overflow-x: hidden; }
  .sui-overflow-x-auto { overflow-x: auto; }

  .sui-overflow-y-visible { overflow-y: visible; }
  .sui-overflow-y-scroll { overflow-y: scroll; }
  .sui-overflow-y-clip { overflow-y: clip; }
  .sui-overflow-y-hidden { overflow-y: hidden; }
  .sui-overflow-y-auto { overflow-y: auto; }
}
