@breakpoints {
  .sui-width { width: var(--width); }
  .sui-min-width { min-width: var(--min-width); }
  .sui-max-width { max-width: var(--max-width); }
  .sui-width-full { width: 100%; }
  .sui-width-auto { width: auto; }
}
