.sui-AvatarStack {
  list-style: none;
}

.sui-AvatarStack li:has([class*='sui-Avatar']) + li:has([class*='sui-Avatar']) {
  margin-left: calc(-1 * var(--space-1));
}

.sui-AvatarStack li:has(+ li [class*='sui-Avatar']) {
  mask-image: radial-gradient(
    50% 50% at calc(150% - var(--space-1) - 1.25px) 50%,
    transparent 97.5%,
    #000 100%
  );
}

