.sui-Heading {
  --heading-color: light-dark(var(--gray-800), var(--gray-200));
  color: var(--foreground-high, var(--heading-color));
}

.sui-Heading:where(.sui-text-muted) {
  --heading-color-muted: light-dark(var(--gray-600), var(--gray-400));
  color: var(--foreground-low, var(--heading-color-muted));
}
