/*
  * Custom checkbox, base
  */
.sui-CheckboxMark {
  /* Background and border colours are computed relatively in hover states;
     we use custom properties to make this easier */
  --background-color: var(--backdrop);
  --border-color: var(--separator-high);
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  color: transparent;
  font-size: 16px;
  transition: var(--hover-transition);
}

/**
  * Hover - uses relative border/background colours to darken/lighten in both normal & error state
  */
/** Checkbox border (unchecked) */
.sui-Checkbox:hover .sui-CheckboxMark {
  border-color: light-dark(
    oklch(from var(--border-color) calc(l - var(--hover-lightness-delta)) c h),
    oklch(from var(--border-color) calc(l + var(--hover-lightness-delta)) c h)
  );
}

/** Checkbox background (checked, indeterminate) */
.sui-Checkbox:hover .sui-CheckboxInput:is(:checked, :indeterminate) + .sui-CheckboxMark {
  background-color: light-dark(
    oklch(from var(--background-color) calc(l - var(--hover-lightness-delta)) c h),
    oklch(from var(--background-color) calc(l + var(--hover-lightness-delta)) c h)
  );
}

/**
  * Focus
  */
.sui-CheckboxInput:focus-visible + .sui-CheckboxMark {
  outline: var(--focus-outline);
  outline-offset: var(--focus-offset);
}

/**
  * Checked/indeterminate
  */
.sui-CheckboxInput:is(:checked, :indeterminate) + .sui-CheckboxMark {
  --background-color: var(--active-background-emphasized);
  --border-color: transparent;
  color: var(--active-foreground-emphasized);
}

/**
  * Disabled
  */
.sui-CheckboxInput:disabled + .sui-CheckboxMark {
  --background-color: var(--inert-background);
  --border-color: var(--separator-low);
}

/* Turn hover (and all pointer events) off for disabled checkboxes */
.sui-Checkbox:has(:disabled) {
  pointer-events: none;
}

/**
  * Disabled, but checked/indeterminate
  */
.sui-CheckboxInput:is(:checked, :indeterminate):disabled + .sui-CheckboxMark {
  --border-color: var(--separator-low);
  color: var(--inert-foreground);
}

/**
  * Error
  */
.sui-CheckboxMark.sui-error {
  --border-color: var(--error-separator);
}

/**
  * Error, checked/indeterminate
  */
.sui-CheckboxInput:is(:checked, :indeterminate) + .sui-CheckboxMark.sui-error {
  --background-color: var(--error-background-emphasized);
}

/**
  * Check/dash icons
  */
.sui-CheckboxMark svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sui-CheckboxMark path {
  vector-effect: non-scaling-stroke;
  stroke-width: 1.5px;
}
