:root {
  /* Default surface */
  --background-high: light-dark(var(--gray-100), var(--gray-900));
  --background-high-emphasized: light-dark(var(--gray-800), var(--gray-200));
  --background-low: light-dark(var(--gray-50), var(--gray-950));
  --background-low-emphasized: light-dark(var(--gray-600), var(--gray-400));
  --separator-high: light-dark(var(--gray-400), var(--gray-600));
  --separator-low: rgb(from var(--separator-high) r g b / var(--opacity-low));
  --foreground-high: light-dark(var(--gray-800), var(--gray-200));
  --foreground-high-emphasized: light-dark(var(--white), var(--black));
  --foreground-low: light-dark(var(--gray-600), var(--gray-400));
  --foreground-low-emphasized: light-dark(var(--gray-100), var(--gray-900));
}

[class*='sui-tone'] {
  /* Toned surface */
  --background-high: var(--tone-100);
  --background-high-emphasized: var(--tone-800);
  --background-low: var(--tone-50);
  --background-low-emphasized: var(--tone-600);
  --separator-high: var(--tone-400);
  --separator-low: rgb(from var(--separator-high) r g b / var(--opacity-low));
  --foreground-high: var(--tone-800);
  --foreground-high-emphasized: var(--tone-0);
  --foreground-low: var(--tone-600);
  --foreground-low-emphasized: var(--tone-100);
}
