@breakpoints {
  .sui-container0 { max-width: var(--container-0); }
  .sui-container1 { max-width: var(--container-1); }
  .sui-container2 { max-width: var(--container-2); }
  .sui-container3 { max-width: var(--container-3); }
  .sui-container4 { max-width: var(--container-4); }
  .sui-container5 { max-width: var(--container-5); }
}
