@breakpoints {
  .sui-inset0 { inset: var(--space-0); }
  .sui-inset1 { inset: var(--space-1); }
  .sui-inset2 { inset: var(--space-2); }
  .sui-inset3 { inset: var(--space-3); }
  .sui-inset4 { inset: var(--space-4); }
  .sui-inset5 { inset: var(--space-5); }
  .sui-inset6 { inset: var(--space-6); }
  .sui-inset7 { inset: var(--space-7); }
  .sui-inset8 { inset: var(--space-8); }
  .sui-inset9 { inset: var(--space-9); }

  .sui-top0 { top: var(--space-0); }
  .sui-top1 { top: var(--space-1); }
  .sui-top2 { top: var(--space-2); }
  .sui-top3 { top: var(--space-3); }
  .sui-top4 { top: var(--space-4); }
  .sui-top5 { top: var(--space-5); }
  .sui-top6 { top: var(--space-6); }
  .sui-top7 { top: var(--space-7); }
  .sui-top8 { top: var(--space-8); }
  .sui-top9 { top: var(--space-9); }

  .sui-right0 { right: var(--space-0); }
  .sui-right1 { right: var(--space-1); }
  .sui-right2 { right: var(--space-2); }
  .sui-right3 { right: var(--space-3); }
  .sui-right4 { right: var(--space-4); }
  .sui-right5 { right: var(--space-5); }
  .sui-right6 { right: var(--space-6); }
  .sui-right7 { right: var(--space-7); }
  .sui-right8 { right: var(--space-8); }
  .sui-right9 { right: var(--space-9); }

  .sui-bottom0 { bottom: var(--space-0); }
  .sui-bottom1 { bottom: var(--space-1); }
  .sui-bottom2 { bottom: var(--space-2); }
  .sui-bottom3 { bottom: var(--space-3); }
  .sui-bottom4 { bottom: var(--space-4); }
  .sui-bottom5 { bottom: var(--space-5); }
  .sui-bottom6 { bottom: var(--space-6); }
  .sui-bottom7 { bottom: var(--space-7); }
  .sui-bottom8 { bottom: var(--space-8); }
  .sui-bottom9 { bottom: var(--space-9); }

  .sui-left0 { left: var(--space-0); }
  .sui-left1 { left: var(--space-1); }
  .sui-left2 { left: var(--space-2); }
  .sui-left3 { left: var(--space-3); }
  .sui-left4 { left: var(--space-4); }
  .sui-left5 { left: var(--space-5); }
  .sui-left6 { left: var(--space-6); }
  .sui-left7 { left: var(--space-7); }
  .sui-left8 { left: var(--space-8); }
  .sui-left9 { left: var(--space-9); }
}
