@breakpoints {
  .sui-m0 { margin: var(--space-0); }
  .sui-m1 { margin: var(--space-1); }
  .sui-m2 { margin: var(--space-2); }
  .sui-m3 { margin: var(--space-3); }
  .sui-m4 { margin: var(--space-4); }
  .sui-m5 { margin: var(--space-5); }
  .sui-m6 { margin: var(--space-6); }
  .sui-m7 { margin: var(--space-7); }
  .sui-m8 { margin: var(--space-8); }
  .sui-m9 { margin: var(--space-9); }
  .sui-m-1 { margin: calc(-1 * var(--space-1)); }
  .sui-m-2 { margin: calc(-1 * var(--space-2)); }
  .sui-m-3 { margin: calc(-1 * var(--space-3)); }
  .sui-m-4 { margin: calc(-1 * var(--space-4)); }
  .sui-m-5 { margin: calc(-1 * var(--space-5)); }
  .sui-m-6 { margin: calc(-1 * var(--space-6)); }
  .sui-m-7 { margin: calc(-1 * var(--space-7)); }
  .sui-m-8 { margin: calc(-1 * var(--space-8)); }
  .sui-m-9 { margin: calc(-1 * var(--space-9)); }
  .sui-m-auto { margin: auto; }

  .sui-mx0 { margin-inline: var(--space-0); }
  .sui-mx1 { margin-inline: var(--space-1); }
  .sui-mx2 { margin-inline: var(--space-2); }
  .sui-mx3 { margin-inline: var(--space-3); }
  .sui-mx4 { margin-inline: var(--space-4); }
  .sui-mx5 { margin-inline: var(--space-5); }
  .sui-mx6 { margin-inline: var(--space-6); }
  .sui-mx7 { margin-inline: var(--space-7); }
  .sui-mx8 { margin-inline: var(--space-8); }
  .sui-mx9 { margin-inline: var(--space-9); }
  .sui-mx-1 { margin-inline: calc(-1 * var(--space-1)); }
  .sui-mx-2 { margin-inline: calc(-1 * var(--space-2)); }
  .sui-mx-3 { margin-inline: calc(-1 * var(--space-3)); }
  .sui-mx-4 { margin-inline: calc(-1 * var(--space-4)); }
  .sui-mx-5 { margin-inline: calc(-1 * var(--space-5)); }
  .sui-mx-6 { margin-inline: calc(-1 * var(--space-6)); }
  .sui-mx-7 { margin-inline: calc(-1 * var(--space-7)); }
  .sui-mx-8 { margin-inline: calc(-1 * var(--space-8)); }
  .sui-mx-9 { margin-inline: calc(-1 * var(--space-9)); }
  .sui-mx-auto { margin-inline: auto; }

  .sui-my0 { margin-block: var(--space-0); }
  .sui-my1 { margin-block: var(--space-1); }
  .sui-my2 { margin-block: var(--space-2); }
  .sui-my3 { margin-block: var(--space-3); }
  .sui-my4 { margin-block: var(--space-4); }
  .sui-my5 { margin-block: var(--space-5); }
  .sui-my6 { margin-block: var(--space-6); }
  .sui-my7 { margin-block: var(--space-7); }
  .sui-my8 { margin-block: var(--space-8); }
  .sui-my9 { margin-block: var(--space-9); }
  .sui-my-1 { margin-block: calc(-1 * var(--space-1)); }
  .sui-my-2 { margin-block: calc(-1 * var(--space-2)); }
  .sui-my-3 { margin-block: calc(-1 * var(--space-3)); }
  .sui-my-4 { margin-block: calc(-1 * var(--space-4)); }
  .sui-my-5 { margin-block: calc(-1 * var(--space-5)); }
  .sui-my-6 { margin-block: calc(-1 * var(--space-6)); }
  .sui-my-7 { margin-block: calc(-1 * var(--space-7)); }
  .sui-my-8 { margin-block: calc(-1 * var(--space-8)); }
  .sui-my-9 { margin-block: calc(-1 * var(--space-9)); }
  .sui-my-auto { margin-block: auto; }

  .sui-mt0 { margin-top: var(--space-0); }
  .sui-mt1 { margin-top: var(--space-1); }
  .sui-mt2 { margin-top: var(--space-2); }
  .sui-mt3 { margin-top: var(--space-3); }
  .sui-mt4 { margin-top: var(--space-4); }
  .sui-mt5 { margin-top: var(--space-5); }
  .sui-mt6 { margin-top: var(--space-6); }
  .sui-mt7 { margin-top: var(--space-7); }
  .sui-mt8 { margin-top: var(--space-8); }
  .sui-mt9 { margin-top: var(--space-9); }
  .sui-mt-1 { margin-top: calc(-1 * var(--space-1)); }
  .sui-mt-2 { margin-top: calc(-1 * var(--space-2)); }
  .sui-mt-3 { margin-top: calc(-1 * var(--space-3)); }
  .sui-mt-4 { margin-top: calc(-1 * var(--space-4)); }
  .sui-mt-5 { margin-top: calc(-1 * var(--space-5)); }
  .sui-mt-6 { margin-top: calc(-1 * var(--space-6)); }
  .sui-mt-7 { margin-top: calc(-1 * var(--space-7)); }
  .sui-mt-8 { margin-top: calc(-1 * var(--space-8)); }
  .sui-mt-9 { margin-top: calc(-1 * var(--space-9)); }
  .sui-mt-auto { margin-top: auto; }

  .sui-mr0 { margin-right: var(--space-0); }
  .sui-mr1 { margin-right: var(--space-1); }
  .sui-mr2 { margin-right: var(--space-2); }
  .sui-mr3 { margin-right: var(--space-3); }
  .sui-mr4 { margin-right: var(--space-4); }
  .sui-mr5 { margin-right: var(--space-5); }
  .sui-mr6 { margin-right: var(--space-6); }
  .sui-mr7 { margin-right: var(--space-7); }
  .sui-mr8 { margin-right: var(--space-8); }
  .sui-mr9 { margin-right: var(--space-9); }
  .sui-mr-1 { margin-right: calc(-1 * var(--space-1)); }
  .sui-mr-2 { margin-right: calc(-1 * var(--space-2)); }
  .sui-mr-3 { margin-right: calc(-1 * var(--space-3)); }
  .sui-mr-4 { margin-right: calc(-1 * var(--space-4)); }
  .sui-mr-5 { margin-right: calc(-1 * var(--space-5)); }
  .sui-mr-6 { margin-right: calc(-1 * var(--space-6)); }
  .sui-mr-7 { margin-right: calc(-1 * var(--space-7)); }
  .sui-mr-8 { margin-right: calc(-1 * var(--space-8)); }
  .sui-mr-9 { margin-right: calc(-1 * var(--space-9)); }
  .sui-mr-auto { margin-right: auto; }

  .sui-mb0 { margin-bottom: var(--space-0); }
  .sui-mb1 { margin-bottom: var(--space-1); }
  .sui-mb2 { margin-bottom: var(--space-2); }
  .sui-mb3 { margin-bottom: var(--space-3); }
  .sui-mb4 { margin-bottom: var(--space-4); }
  .sui-mb5 { margin-bottom: var(--space-5); }
  .sui-mb6 { margin-bottom: var(--space-6); }
  .sui-mb7 { margin-bottom: var(--space-7); }
  .sui-mb8 { margin-bottom: var(--space-8); }
  .sui-mb9 { margin-bottom: var(--space-9); }
  .sui-mb-1 { margin-bottom: calc(-1 * var(--space-1)); }
  .sui-mb-2 { margin-bottom: calc(-1 * var(--space-2)); }
  .sui-mb-3 { margin-bottom: calc(-1 * var(--space-3)); }
  .sui-mb-4 { margin-bottom: calc(-1 * var(--space-4)); }
  .sui-mb-5 { margin-bottom: calc(-1 * var(--space-5)); }
  .sui-mb-6 { margin-bottom: calc(-1 * var(--space-6)); }
  .sui-mb-7 { margin-bottom: calc(-1 * var(--space-7)); }
  .sui-mb-8 { margin-bottom: calc(-1 * var(--space-8)); }
  .sui-mb-9 { margin-bottom: calc(-1 * var(--space-9)); }
  .sui-mb-auto { margin-bottom: auto; }

  .sui-ml0 { margin-left: var(--space-0); }
  .sui-ml1 { margin-left: var(--space-1); }
  .sui-ml2 { margin-left: var(--space-2); }
  .sui-ml3 { margin-left: var(--space-3); }
  .sui-ml4 { margin-left: var(--space-4); }
  .sui-ml5 { margin-left: var(--space-5); }
  .sui-ml6 { margin-left: var(--space-6); }
  .sui-ml7 { margin-left: var(--space-7); }
  .sui-ml8 { margin-left: var(--space-8); }
  .sui-ml9 { margin-left: var(--space-9); }
  .sui-ml-1 { margin-left: calc(-1 * var(--space-1)); }
  .sui-ml-2 { margin-left: calc(-1 * var(--space-2)); }
  .sui-ml-3 { margin-left: calc(-1 * var(--space-3)); }
  .sui-ml-4 { margin-left: calc(-1 * var(--space-4)); }
  .sui-ml-5 { margin-left: calc(-1 * var(--space-5)); }
  .sui-ml-6 { margin-left: calc(-1 * var(--space-6)); }
  .sui-ml-7 { margin-left: calc(-1 * var(--space-7)); }
  .sui-ml-8 { margin-left: calc(-1 * var(--space-8)); }
  .sui-ml-9 { margin-left: calc(-1 * var(--space-9)); }
  .sui-ml-auto { margin-left: auto; }
}
