@breakpoints {
  .sui-p0 { padding: var(--space-0); }
  .sui-p1 { padding: var(--space-1); }
  .sui-p2 { padding: var(--space-2); }
  .sui-p3 { padding: var(--space-3); }
  .sui-p4 { padding: var(--space-4); }
  .sui-p5 { padding: var(--space-5); }
  .sui-p6 { padding: var(--space-6); }
  .sui-p7 { padding: var(--space-7); }
  .sui-p8 { padding: var(--space-8); }
  .sui-p9 { padding: var(--space-9); }

  .sui-px0 { padding-left: var(--space-0); padding-right: var(--space-0); }
  .sui-px1 { padding-left: var(--space-1); padding-right: var(--space-1); }
  .sui-px2 { padding-left: var(--space-2); padding-right: var(--space-2); }
  .sui-px3 { padding-left: var(--space-3); padding-right: var(--space-3); }
  .sui-px4 { padding-left: var(--space-4); padding-right: var(--space-4); }
  .sui-px5 { padding-left: var(--space-5); padding-right: var(--space-5); }
  .sui-px6 { padding-left: var(--space-6); padding-right: var(--space-6); }
  .sui-px7 { padding-left: var(--space-7); padding-right: var(--space-7); }
  .sui-px8 { padding-left: var(--space-8); padding-right: var(--space-8); }
  .sui-px9 { padding-left: var(--space-9); padding-right: var(--space-9); }

  .sui-py0 { padding-top: var(--space-0); padding-bottom: var(--space-0); }
  .sui-py1 { padding-top: var(--space-1); padding-bottom: var(--space-1); }
  .sui-py2 { padding-top: var(--space-2); padding-bottom: var(--space-2); }
  .sui-py3 { padding-top: var(--space-3); padding-bottom: var(--space-3); }
  .sui-py4 { padding-top: var(--space-4); padding-bottom: var(--space-4); }
  .sui-py5 { padding-top: var(--space-5); padding-bottom: var(--space-5); }
  .sui-py6 { padding-top: var(--space-6); padding-bottom: var(--space-6); }
  .sui-py7 { padding-top: var(--space-7); padding-bottom: var(--space-7); }
  .sui-py8 { padding-top: var(--space-8); padding-bottom: var(--space-8); }
  .sui-py9 { padding-top: var(--space-9); padding-bottom: var(--space-9); }

  .sui-pt0 { padding-top: var(--space-0); }
  .sui-pt1 { padding-top: var(--space-1); }
  .sui-pt2 { padding-top: var(--space-2); }
  .sui-pt3 { padding-top: var(--space-3); }
  .sui-pt4 { padding-top: var(--space-4); }
  .sui-pt5 { padding-top: var(--space-5); }
  .sui-pt6 { padding-top: var(--space-6); }
  .sui-pt7 { padding-top: var(--space-7); }
  .sui-pt8 { padding-top: var(--space-8); }
  .sui-pt9 { padding-top: var(--space-9); }

  .sui-pr0 { padding-right: var(--space-0); }
  .sui-pr1 { padding-right: var(--space-1); }
  .sui-pr2 { padding-right: var(--space-2); }
  .sui-pr3 { padding-right: var(--space-3); }
  .sui-pr4 { padding-right: var(--space-4); }
  .sui-pr5 { padding-right: var(--space-5); }
  .sui-pr6 { padding-right: var(--space-6); }
  .sui-pr7 { padding-right: var(--space-7); }
  .sui-pr8 { padding-right: var(--space-8); }
  .sui-pr9 { padding-right: var(--space-9); }

  .sui-pb0 { padding-bottom: var(--space-0); }
  .sui-pb1 { padding-bottom: var(--space-1); }
  .sui-pb2 { padding-bottom: var(--space-2); }
  .sui-pb3 { padding-bottom: var(--space-3); }
  .sui-pb4 { padding-bottom: var(--space-4); }
  .sui-pb5 { padding-bottom: var(--space-5); }
  .sui-pb6 { padding-bottom: var(--space-6); }
  .sui-pb7 { padding-bottom: var(--space-7); }
  .sui-pb8 { padding-bottom: var(--space-8); }
  .sui-pb9 { padding-bottom: var(--space-9); }

  .sui-pl0 { padding-left: var(--space-0); }
  .sui-pl1 { padding-left: var(--space-1); }
  .sui-pl2 { padding-left: var(--space-2); }
  .sui-pl3 { padding-left: var(--space-3); }
  .sui-pl4 { padding-left: var(--space-4); }
  .sui-pl5 { padding-left: var(--space-5); }
  .sui-pl6 { padding-left: var(--space-6); }
  .sui-pl7 { padding-left: var(--space-7); }
  .sui-pl8 { padding-left: var(--space-8); }
  .sui-pl9 { padding-left: var(--space-9); }
}
