.sui-shadow0 { box-shadow: var(--shadow-0); }
.sui-shadow1 { box-shadow: var(--shadow-1); }
.sui-shadow2 { box-shadow: var(--shadow-2); }
.sui-shadow3 { box-shadow: var(--shadow-3); }
.sui-shadow4 { box-shadow: var(--shadow-4); }
.sui-shadow5 { box-shadow: var(--shadow-5); }
