@breakpoints {
  .sui-text-body0 { font: var(--body-0); }
  .sui-text-body1 { font: var(--body-1); }
  .sui-text-body2 { font: var(--body-2); }
  .sui-text-body3 { font: var(--body-3); }
  .sui-text-body4 { font: var(--body-4); }

  .sui-text-code0 { font: var(--code-0); }
  .sui-text-code1 { font: var(--code-1); }
  .sui-text-code2 { font: var(--code-2); }
  .sui-text-code3 { font: var(--code-3); }
  .sui-text-code4 { font: var(--code-4); }

  .sui-text-heading0 { font: var(--heading-0); }
  .sui-text-heading1 { font: var(--heading-1); }
  .sui-text-heading2 { font: var(--heading-2); }
  .sui-text-heading3 { font: var(--heading-3); }
  .sui-text-heading4 { font: var(--heading-4); }
  .sui-text-heading5 { font: var(--heading-5); }
  .sui-text-heading6 { font: var(--heading-6); }
  .sui-text-heading7 { font: var(--heading-7); }
  .sui-text-heading8 { font: var(--heading-8); }
  .sui-text-heading9 { font: var(--heading-9); }

  .sui-text-eyebrow0 { font: var(--label-0); }
  .sui-text-eyebrow1 { font: var(--label-1); }
  .sui-text-eyebrow2 { font: var(--label-2); }
  .sui-text-eyebrow3 { font: var(--label-3); }
  .sui-text-eyebrow4 { font: var(--label-4); }
  .sui-text-eyebrow5 { font: var(--label-5); }
}
