name: Extract, Transform & Load
on:
  # Build on pushes to release branches
  push:
    branches: [1.x, next]
  # Build on pull requests targeting release branches
  pull_request:
    branches: [1.x, next]

jobs:
  etl:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # tag=v3

      - name: Setup Node.js
        uses: actions/setup-node@2fddd8803e2f5c9604345a0b591c3020ee971a93 # tag=v3
        with:
          node-version: lts/*

      - name: Cache node modules
        id: cache-node-modules
        uses: actions/cache@fd5de65bc895cf536527842281bea11763fefd77 # tag=v3
        env:
          cache-name: cache-node-modules
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ env.cache-name }}-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-modules-${{ env.cache-name }}-
            ${{ runner.os }}-modules-
            ${{ runner.os }}-

      - name: Install project dependencies
        if: steps.cache-node-modules.outputs.cache-hit != 'true'
        env:
          # Keep the Cypress binary in ./node_modules/.cypress
          CYPRESS_CACHE_FOLDER: './node_modules/.cypress'
        run: yarn install

      - name: Build packages
        run: yarn build

      - name: Extract, Transform & Load
        env:
          SANITY_API_TOKEN: ${{ secrets.SANITY_API_TOKEN }}
        run: yarn etl --quiet
